// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th{
	background-color:transparent;

}
.bg-purple{
	background-color: #D500FF;
	color:#FCCDFF;
}
#files-list{
	margin-top: 1rem;
}
#files-list li{
	margin-top: .5rem;
	.delete{
	  color: red;
	  cursor: pointer;

	}
	.delete:hover{
	   color:black;
	}
}
#files-list li a:hover{
	text-decoration: underline;
}
input[type=file] {
    line-height: 2.3;
}
.filtros .form-group{
	margin-bottom: 1rem;
}

